  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light"><h3>Institut Teknologi<br> Del</h3></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">Master</li>
          <li class="nav-item">
            <a href="/berita" class="nav-link">
              <i class="nav-icon fas fa-newspaper"></i>
              <p>
                Berita
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="/kemahasiswaan" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Kemahasiswaan
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/perpustakaan" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Perpustakaan
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/bursar" class="nav-link">
              <i class="nav-icon fas fa-dollar-sign"></i>
              <p>
                Bursar
              </p>
            </a>
          </li>
        </ul>
      </nav>
      
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>